<ion-header>

  <custom-logged-header [title]="pageTitle"></custom-logged-header>

</ion-header>

<ion-content padding no-bounce>
  <div text-center *ngIf="!finishLoadingMessages">
    <ion-spinner></ion-spinner>
    <p>Carregando mensagens</p>
  </div>
  <ion-list no-lines>
    <ion-item *ngFor="let message of messages">
      <h4 [ngClass]="getMessageClass(message)">{{ message.text }}</h4>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item no-lines>
      <ion-input type="text"
                 placeholder="Mensagem..."
                 [(ngModel)]="newMessageText"
                 autofocus="true"
                 (keyup.enter)="sendMessage(newMessageText); newMessageText=''"></ion-input>
      <button icon-only ion-button item-right color="dark" (click)="sendMessage(newMessageText); newMessageText=''">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
