<ion-header>

  <custom-logged-header title="Conversas"></custom-logged-header>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Busque aqui"
      [showCancelButton]="true"
      [animated]="true"
      cancelButtonText="Cancelar"
      debounce="100"
      (ionInput)="onSearchInput($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="!finishLoadingChats">
    <ion-spinner></ion-spinner>
    <p>Carregando lista de conversas</p>
  </div>
  <ion-list no-lines>
    <button ion-item *ngFor="let chat of chats" (click)="onOpenChat(chat)">
      <h2>{{ chat.title }}</h2>
      <p *ngIf="chat.lastMessage">{{ chat.createdAt | date: 'dd/MM/y H:mm' }} - {{ chat.lastMessage }}</p>
    </button>

     <button
       ion-item
       *ngFor="let user of users"
       (click)="onUserClick(user)">
        {{ user.name }}
     </button>
  </ion-list>
</ion-content>
